/* Variables - CI Colors */

$night:#1E2529;

$hausschrift:'';
$fliesstext: Helvetica, Helvetica Neue, Arial, sans-serif;

/* Test a Mixing */

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/* Animations and transitions */
.main article img.movie-still, div.slide img {
-o-transition: -o-transform 0.5s, opacity 0.5s; 
-ms-transition: -ms-transform 0.5s, opacity 0.5s;
-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
transition: transform 0.5s, opacity 0.5s;
float:left;
}

.main article header:hover img.movie-still, div.slide:hover img
{@include vendor-prefix(transform,scale(1.15,1.15))}
.main article header:hover img.movie-still, div.slide:hover img 
{opacity:0.3;}

/* Play Movie Buttons */
img.movie-play-button {@include vendor-prefix(opacity, 0.5s)}
img.movie-play-button {opacity:0;}
.main article header:hover img.movie-play-button, slider.div:hover img.movie-play-button{opacity:1.0;}

/* Video Buttons */
.csstransitions .videos a.button {@include vendor-prefix(transition,background-color 0.5s)}
.csstransitions .videos a.button {background-color:transparent;}
.csstransitions .videos a.button:hover{background-color:$copper;color:white;}

/* News Buttons */
.csstransitions .news a.button {@include vendor-prefix(transition,background-color 0.5s)}
.csstransitions .news a.button {background-color:transparent;}
.csstransitions .news a.button:hover{background-color:$copper;color:white;}

/* Channel Buttons */
.csstransitions .channels a.button {@include vendor-prefix(transition,background-color 0.5s)}
.csstransitions .channels a.button {background-color:transparent;}
.csstransitions .channels a.button:hover{background-color:white;}

/* Profile Page */
.csstransitions .main.profile input[type=submit] {@include vendor-prefix(transition,background-color 0.5s)}
.csstransitions .main.profile input[type=submit] {background-color:white;}
.csstransitions .main.profile input[type=submit]:hover{background-color:$copper;color:white;}


/* Movie Title Links */
.csstransitions .videos a.movie-headline {@include vendor-prefix(transition,color 1s)}
.csstransitions .videos a.movie-headline:hover{color:$copper;}

/* Show Sticky Header on Advanced Channel Page */
.chpg-av div.sticky-header {@include vendor-prefix(transition, background-color 0.75s)}
.chpg-av div.sticky-header.fixed {background-color:$night;}

/*  Hover Scrolltoplink on CHPGAV */
.chpg-av a.scroll-top-link {@include vendor-prefix(transition, background-color 0.75s)}
.chpg-av a.scroll-top-link {@include vendor-prefix(transition, color 0.75s)}
.chpg-av a.scroll-top-link:hover {color:white;background-color:black;}


/* EOF */